<!--footer-->
  <div class="footer col-md-12 col-xs-12 paddingReset clearfix">
    <div class="col-md-4 col-xs-6">
      <h6><b>CEG Tech Forum &copy; 2016. All Rights Reserved.</b></h6>
    </div>
    <div class="col-md-3 col-md-push-1 col-xs-6">
      <a href="https://www.facebook.com/kurukshetra.org.in" target="_blank">
        <i class="fa fa-facebook footer-fa"></i>
      </a>
      <a href="https://twitter.com/kurukshetra_ceg" target="_blank">
        <i class="fa fa-twitter footer-fa"></i>
      </a>
      <a href="https://youtube.com/kurukshetramedia" target="_blank">
        <i class="fa fa-youtube footer-fa"></i>
      </a>
    </div>
</div>
