<div ng-controller="loginController">
	<div class="col-md-12">
		<div class="col-md-6">
		<img src="images/sw.png" style="padding-bottom:100px;background:rgba(0, 0, 0, 0.4);width:100%;height:100%"/>
		</div>

		<div class="col-md-6" style="margin-top:50px">
			<div class="col-md-10 col-md-push-1">
				<div class="col-md-6">
					<a class="login-btn btn my-btn" style="background:rgb(31,73,120)"><i class="fa fa-facebook"></i> Login with Facebook</a>
				</div>
				<div class="col-md-6">
					<a class="login-btn btn my-btn" style="background:red"><i class="fa fa-google"></i> Login with Google</a>
				</div>
			</div>
			<div class="col-md-12 text-center" style="margin-top:50px">
				<a class="my-btn text-center btn" id="start-playing">I'M READY TO GET SHERLOCKED</a>
			</div>
			<div class="col-md-6 col-md-push-3" style="margin-top:20px">
				<div class="desc">
					<p>A brief description of Sherlock</p>
					<p>A brief description of Sherlock</p>
					<p>A brief description of Sherlock</p>
				</div>
			</div>
		</div>
	</div>
</div>